
.header {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 1rem;
  line-height: 3;
  font-family: 'Georgia', serif;
  background-image: ("img/header.jpg");
}



input[type="text"] {
  background-color: rgb(211, 204, 204);
  width: 35%;
  padding-bottom: 5px;
  color: #fff ;
  font-weight: lighter;
  letter-spacing: 2.5px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 20px;
}

input[type="text"] { 
  margin-left: 22%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #cbcdcee0 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  padding: 8px 20px;
  margin-left: 7%;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
  background-color: #cbcdcee0;
  color: #fff;
}

.weather {
  display: flex;
  justify-content: center;
}

.list-group-item {
  background: white;
  width: 222.5px;
}


.weather__info {
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__value {
  color: black;
  font-weight: 300;
}

h1 {
  text-shadow: 2px 2px white;
}