/* .App {
  text-align: center;
}

.flex-container {
  width: 625px;
  background: rgba(255, 145, 0, 0.952);
  margin-left: 8%;
  flex-direction: row;
  flex-wrap: wrap
}

.container {
  width: 581px;
  display: flex;
  flex-direction: row;
  background-color: rgba(70, 117, 187, 0.534);
}

.header {
    background-image: url("https://www.professionaladviser.com/w-images/6ff41b1a-287c-4c25-b8f6-52fac40f834b/3/fill/rainorshine-580x358.jpg");
    width: 1162px;
    height: 325px;
    margin-left: 9.1%;
    margin-right: 5%;
    width: 50%;
    float: left
}

form {
  width: 50%;
}

.container_form {
  display: flex;
  flex-direction: column;
  align-content: center
} */

.wrapper {
  background-color: rgb(145, 140, 140);
  height: 25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

}

.header-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container__header {
  font-size: 60px;
  letter-spacing: 10px;
  line-height: 3;
  font-family: 'Georgia', serif;
}

.form-container {
  width: 100%;
}

input[type="text"] {
  background-color: transparent;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
  outline: none;
  margin-left: 20%
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #282b2ee0 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  padding: 8px 20px;
  margin-left: 7%;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
  background-color: #282b2ee0;
  color: #fff;
}

.list-group-item {
  background: white;
  width: 200px
}

.weather__info {
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__value {
  color: black;
  font-weight: 300;
}

.weather__error {
  color: #3f8adfe0;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}


