.wrapper {
  background: linear-gradient(to right, #7396d6, #c73828);
  display: flex;
  justify-content: center;
}

.header-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container__header {
  font-size: 65px;
  letter-spacing: 10px;
  line-height: 3;
  font-family: 'Georgia', serif;
}

.form-container {
  width: 100%;
}

input[type="text"] {
  background-color: rgb(211, 204, 204);
  width: 35%;
  padding-bottom: 5px;
  color: #fff ;
  font-weight: lighter;
  letter-spacing: 2.5px;
  margin-bottom: 50px;
  font-size: 20px;
}

input[type="text"] { 
  margin-left: 22%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #282b2ee0 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  padding: 8px 20px;
  margin-left: 7%;
  letter-spacing: 3px;
  font-size: 20px;
  cursor: pointer;
  background-color: #282b2ee0;
  color: #fff;
}

.list-group-item {
  background: white;
  width: 222.5px;
}

.weather__info {
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__value {
  color: black;
  font-weight: 300;
}

h1 {
  text-shadow: 2px 2px white;
}